/MinicarMuseum-shared/nbproject/private/
/MinicarMuseum-shared/build/
/MinicarMuseum-shared/dist/
/build/
/MinicarMuseum-war/build/
/MinicarMuseum-ejb/dist/
/MinicarMuseum-war/dist/
/dist/
/nbproject/private/
/MinicarMuseum-ejb/nbproject/private/
/MinicarMuseum-war/nbproject/private/
/MinicarMuseum-ejb/build/
